<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">

	<select id="getSelectAll" resultType="com.ngb.ngbPortfolio.category.model.dto.CategoryDTO">
		select * from category order by categoryCode desc
	</select>
	
	<select id="getSelectOne" resultType="com.ngb.ngbPortfolio.category.model.dto.CategoryDTO">
		select * from category where categoryCode = #{categoryCode}
	</select>
	
	<insert id="setInsert">
		insert into category values (
			seq_category.nextval,
			#{categoryName}, 
			sysdate
		)
	</insert>
	
	<update id="setUpdate">
		update category set 
		categoryName = #{categoryName}
		where categoryCode = #{categoryCode} 
	</update>
	
	<delete id="setDelete">
		delete from category where categoryCode = #{categoryCode}
	</delete>

</mapper>